.chatroom-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: rgb(207, 207, 207);
  height: 50%;
  width: 50%;
  border-left: 2px solid rgb(228, 228, 228);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.chatroom-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  width: calc(100% - 13px);
  padding: 5px 3px 5px 10px;
  background: rgb(4,0,139);
  background: linear-gradient(90deg, rgba(4,0,139,1) 0%, rgba(106,147,212,1) 100%);
  color: white;
  border-top: 2px solid rgb(228, 228, 228);
  font-weight: bold;
}

.chatroom-exit-btn {
  height: 25px;
  width: 25px;
  background: rgb(207, 207, 207);
  border: none;
  box-shadow: inset 0.15em 0.15em rgb(216, 216, 216);
  font-weight: bold;
  border-left: 2px solid rgb(228, 228, 228);
  border-top: 2px solid rgb(228, 228, 228);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.chatroom-exit-btn:hover {
  background: rgb(151, 151, 151);
  box-shadow: inset 0.15em 0.15em rgb(160, 160, 160);
  border-left: 2px solid rgb(163, 163, 163);
  border-top: 2px solid rgb(163, 163, 163);
}

.chatroom-container-dark {
  background: rgb(54, 54, 54);
  border-left: 2px solid black;
  border-right: 2px solid rgb(80, 80, 80);
  border-bottom: 2px solid rgb(80, 80, 80);
}

.chatroom-topbar-dark {
  background: rgb(4,0,139);
  background: linear-gradient(90deg, rgba(4,0,139,1) 0%, rgba(106,147,212,1) 100%);
  color: white;
  border-top: 2px solid black;
}

.chatroom-exit-btn-dark {
  background: rgb(54, 54, 54);
  box-shadow: inset 0.15em 0.15em rgb(70, 70, 70);
  border-left: 2px solid rgb(80, 80, 80);
  border-top: 2px solid rgb(80, 80, 80);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  color: white;
}

.chatroom-exit-btn-dark:hover {
  background: rgb(117, 117, 117);
  box-shadow: inset 0.15em 0.15em rgb(126, 126, 126);
  border-left: 2px solid rgb(129, 129, 129);
  border-top: 2px solid rgb(129, 129, 129);
}