.messages-container {
  display: flex;
  height: 50%;
  width: 80%;
}

.message-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: white;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid rgb(228, 228, 228);
  border-bottom: 2px solid rgb(228, 228, 228);
  list-style: none;
  padding: 10px 10px 0px 10px;
  margin-top: 25px;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow-y: scroll;
  white-space: pre-wrap;
  flex-direction: column-reverse;
}

.message {
  display: flex;
  max-width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  max-width: 100%;
  margin-top: 10px;
  padding: 5px;
}

.message-body {
  max-width: 80%;
  overflow-wrap: break-word;
}

.current-user-message {
  max-width: 20%;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  color: blue;
}

.other-user-message {
  max-width: 20%;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  color: red;
}