#chatroom-message-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 15px;
  height: calc(50% - 20px - 15px) /* -20px for the chatroom-topbar */
}

#message-box-text {
  display: flex;
  align-self: center;
  width: 100%;
  height: calc(80% - 55px); /* -55px for the button */
  resize: none;
}

.send-message-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 60px;
  height: 50px;
  margin-top: 5px;
  font-size: xx-large;
}

.message-box-text-dark {
  background: rgb(24, 24, 24);
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid rgb(106, 106, 106);
  border-bottom: 2px solid rgb(106, 106, 106);
  color: white;
}

.send-message-btn-dark {
  background: rgb(160, 160, 160);
}

.send-message-btn-dark:hover {
  background-color: rgb(206, 206, 206);
}

#record-button {
  display: flex;
  align-self: flex-end;
  background-image: url(../images/icons8-microphone-44.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 40px;
  min-height:40px;
  border-radius: 20px;
  margin: 4px;
}

#record-button:hover {
  background-color: rgb(219, 219, 219);
}

.record-button-dark {
  background: rgb(160, 160, 160);
  border: rgb(22, 22, 22) 2px solid;
}