/* HTML: <div class="loader"></div> */
@keyframes l6 {
  0%  {box-shadow: 7px 0,-20px 0}
  50% {box-shadow: 7px 0,-7px 0}
  100%{box-shadow: 20px 0,-7px 0}
}

.loader {
  height: 8px;
  width: 8px;
  aspect-ratio: 1;
  background: #000;
  border-radius: 50%;
  animation: l6 1s infinite linear alternate;
  margin-left: 20px;
}

.new-message{
  height: 20px;
  margin-left: 20px;
  white-space: nowrap;
}
