.user-search-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 90px;
  margin-top: 5px;
  justify-content: flex-start;
  align-items: center;
}

.user-searchbar {
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: space-around;
}

.user-searchbar-dark {
  
}

.search-input {

}

.search-input-dark {
  background: rgb(24, 24, 24);
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(80, 80, 80);
  border-bottom: 2px solid rgb(80, 80, 80);
  color: white;
}

.search-btn {
  height: 24px;
}

.search-btn:hover {
  background: rgb(151, 151, 151);
  box-shadow: inset 0.15em 0.15em rgb(160, 160, 160);
  border-left: 2px solid rgb(163, 163, 163);
  border-top: 2px solid rgb(163, 163, 163);
}

.search-btn-dark{
  background: rgb(54, 54, 54);
  box-shadow: inset 0.1em 0.1em rgb(70, 70, 70);
  border-left: 2px solid rgb(80, 80, 80);
  border-top: 2px solid rgb(80, 80, 80);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  color: white;
}